@import url('https://cdn.fontcdn.ir/font/BZiba.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://cdn.fontcdn.ir/font/Sahel.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: rgb(255, 255, 255);
	background: linear-gradient(90deg, #0f0715 0%, #291745 100%);
	font-family: 'B Ziba', 'Roboto', sans-serif;
}

.font-sahel {
	font-family: 'Sahel', sans-serif;
}
