@font-face {
	font-family: 'B Ziba';
	src: url('/fonts/Bziba.ttf');
}
@font-face {
	font-family: 'sahel';
	src: url('/fonts/Sahel.ttf') format('truetype'), url('/fonts/Sahel.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: rgb(255, 255, 255);
	background: linear-gradient(90deg, #0f0715 0%, #291745 100%);
	font-family: 'B Ziba', sans-serif;
}

.font-sahel {
	font-family: 'Sahel', sans-serif;
}
